@inherits LayoutComponentBase
@using ERmain.Data.Language
@using ERmain.Data.Theme
@inject ThemeService ThemeService
@inject LanguageService LanguageService
@implements IDisposable

@code {
    private bool _toggleDark;
    private bool _isEnglish;

    protected override async Task OnInitializedAsync()
    {
        ThemeService.OnThemeChanged += ReloadTheme;
        LanguageService.OnLanguageChanged += ReloadLanguage;
        
        {//Theme
            string theme = await ThemeService.GetThemeOrDefault();
            _toggleDark = theme == "dark";
        }
        
        {//Language
            string lang = await LanguageService.GetLanguageOrDefault();
            _isEnglish = lang == "en";
        }
    }

    private void ReloadTheme()
    {
        _ = UpdateTheme();
        StateHasChanged();
    }
    
    private async Task UpdateTheme()
    {
        string theme = await ThemeService.GetThemeOrDefault();
        _toggleDark = theme == "dark";
        await InvokeAsync(StateHasChanged);
    }
    
    private void ReloadLanguage()
    {
        _ = UpdateLanguage();
        StateHasChanged();
    }
    
    private async Task UpdateLanguage()
    {
        string lang = await LanguageService.GetLanguageOrDefault();
        _isEnglish = lang == "en";
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= ReloadTheme;
        LanguageService.OnLanguageChanged -= ReloadLanguage;
    }

}

<header>
    <NavBar />
</header>

<main class='@(_toggleDark ? "dark" : null)' lang="@(_isEnglish ? "en" : "de")">
    @Body
</main>




